{% extends 'base.html' %}

{% block title %} | Main site {% endblock %}

{% block content %}
    </br>
    </br>
    <h1 class="text-center">HELLO AT OUR CONFERENCE's QUIZ </h1>

      <div class="album py-5 bg-light">
        <div class="container">
{#                <img class="rounded mx-auto d-block" src="https://image.shutterstock.com/image-photo/portrait-cavalier-king-charles-spaniel-600w-1952077084.jpg">#}
                <img class="rounded mx-auto d-block" src="https://microtas2023.org/images/microtas2023_banner.png">

        </div>
    </br>
    </br>
    </br>

        <div class="container">
            <div class="d-grid gap-2">
                <a type="button" class="btn btn-primary" href="{% url 'register' %}">CLICK FOR NEXT STEP !!!</a>


            </div>
        </div>
        </div>
      </div>

{% endblock %}