{% extends 'base.html' %}

{% block title %} | Register {% endblock %}

{% block content %}
    </br>
    </br>
    <h1 class="text-center">SCIENCE QUIZ</h1>

      <div class="album py-5 bg-light">
        <div class="container">
            <h3 class="text-center">General rules</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum interdum porta.
                    Aliquam nibh dui, interdum sit amet egestas eu, congue eget lorem. Curabitur fermentum, lacus vel
                    rhoncus facilisis, turpis magna varius tortor, nec varius lectus diam nec arcu. Nullam interdum
                    laoreet ligula ut posuere. Nulla cursus ullamcorper nunc, ut mollis ante efficitur in. Nulla nunc
                    ligula, ultricies quis rhoncus vitae, gravida laoreet sapien. Quisque aliquam ut purus malesuada
                    mattis.
                </p>
                <p>
                    Morbi imperdiet mi id convallis ultrices. Suspendisse tristique lorem non nisi faucibus, nec
                    facilisis nulla facilisis. Mauris congue aliquet purus, vitae pharetra turpis lacinia in. Nunc
                    faucibus tellus vel vestibulum feugiat. Suspendisse cursus magna ante. Duis ultricies dapibus ex,
                    non tristique mauris viverra nec. Nunc efficitur erat libero, luctus dignissim lacus ultrices at.
                    Sed tempor accumsan dapibus.
                </p>
                <p>
                    Mauris egestas risus dolor, sed finibus justo sagittis dictum. Morbi porttitor placerat metus,
                    quis gravida libero feugiat sed. Donec tincidunt nisl sit amet magna rhoncus feugiat vitae eu nibh.
                    Fusce tristique lacus eros, sed consectetur quam laoreet et. Ut porttitor mi scelerisque tincidunt
                    rutrum. Ut condimentum turpis sed leo tempor, non vestibulum nulla faucibus. Fusce nec justo bibendum,
                    mattis risus vitae, condimentum lacus. Nunc vel pulvinar lorem. Nulla vel malesuada elit. Phasellus
                    id lectus neque. Suspendisse volutpat ornare est in fermentum. Ut vel purus quis elit sollicitudin
                    facilisis.
                </p>
                <p>
                    Quisque eu semper dui, sit amet placerat quam. In hac habitasse platea dictumst. Fusce volutpat
                    mollis sapien, quis gravida diam consequat a. Nullam at rutrum sapien. Interdum et malesuada fames
                    ac ante ipsum primis in faucibus. Quisque eu neque turpis. Mauris sed pellentesque ex. Etiam non
                    tortor risus. Curabitur lacus leo, placerat vitae orci ut, fringilla ultrices lectus. In in ex
                    sollicitudin, lacinia tortor eu, tempor purus. Integer facilisis erat at tincidunt luctus.
                <p>
                    Ut tempor velit eget neque ullamcorper, non luctus arcu pharetra. Aenean sollicitudin dictum molestie.
                    Nullam et lectus eget nisl suscipit congue semper non erat. Curabitur sodales, erat ac sagittis tristique,
                    ex nibh dignissim augue, eget finibus lorem lacus ac dolor. Morbi finibus tincidunt nisi, quis placerat sem
                    consectetur eu. Quisque quam odio, feugiat quis mauris et, blandit iaculis felis. Quisque sit amet lectus
                    cursus, pharetra nibh in, vestibulum ante. Vivamus id dignissim enim. Fusce dolor augue, convallis vel
                    faucibus non, aliquet vel sapien. Mauris rhoncus urna eu ex laoreet pellentesque. Phasellus volutpat eu
                    metus ac porta. Praesent rutrum vitae arcu posuere fringilla.
                </p>
{#                <img class="rounded mx-auto d-block" src="https://image.shutterstock.com/image-photo/cavalier-king-charles-spaniel-puppy-600w-1961288158.jpg">#}
                <img class="rounded mx-auto d-block" src="https://media.istockphoto.com/vectors/dream-team-text-group-of-young-people-teamwork-vector-id1143144374?k=20&m=1143144374&s=612x612&w=0&h=Ux0iryQhY1lnGynXi3aKcyfGhxXuaVrAqX9FpM5xYn8=">

        </div>
        <form>
            {% csrf_token %}

            <div class="container">
                <h2 class="text-center">Please sign up your team </h2>
                <div class="container">
                    <h3>Team's name</h3>
                    </br>
                    <input class="form-control form-control-lg" type="text" value="Project Manhattan" aria-label=".form-control-lg example" name="team_name">
                    </br>
                    </br>
                    <h3>Participants</h3>
                    </br>
                    <input class="form-control form-control-lg" type="text" value="John" aria-label=".form-control-lg example" >
                    </br>
                    <input class="form-control form-control-lg" type="text" value="Ann" aria-label=".form-control-lg example">
                    </br>
                    <input class="form-control form-control-lg" type="text" value="Kate" aria-label=".form-control-lg example">
                    </br>
                    <input class="form-control form-control-lg" type="text" value="Steven" aria-label=".form-control-lg example">
                    </br>
                    <input class="form-control form-control-lg" type="text" value="Tom" aria-label=".form-control-lg example">
                    </br>
                    <input class="form-control form-control-lg" type="text" value="Lana" aria-label=".form-control-lg example">
                    </br>
                    </br>

                    <div class="d-grid gap-2">
                        <a type="button" methods="POST" class="btn btn-primary" href="{% url 'create_account' %}">CLICK FOR NEXT STEP !!!</a>

    {#                    <button class="btn btn-primary" type="button">Let`s QUIZ !!!</button>#}
                    </div>
                </div>
            </div>
          </div>
        </form>
{% endblock %}